body{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    align-items: center;
    text-align: center;
    margin: 150px;
    margin-bottom: 200px;
    padding: 20px;
    position: relative;
}

img {
    height: 20vmin;
    width: 20vmin;
}

button{
    outline: none;
    border: none;
    border-radius: 40px;
    font-size: medium;
    font-weight: bold;
    cursor: pointer;
    color: white;
    padding: 15px;
    margin: 5px;
    flex-direction: row;
    align-items: center;
}

#button1 {
    background: green;
    
}

#button2 {
    background: red;
}

a {
    text-decoration: none;
}

footer{
    display: block;
    align-items: center;
    text-align: center;
    position: relative;
}
